<h1>Names</h1>

<table>
  <tr>
    <th colspan=2><%=h Language.find(@first).english %></th>
    <th colspan=2><%=h Language.find(@second).english %></th>
  </tr>

<% for result in @results %>
  <tr>
    <td><%=h result[0].script %></td>
    <td><%=h result[0].latin %></td>
    <td><%=h result[1].script %></td>
    <td><%=h result[1].latin %></td>
  </tr>
<% end %>
</table>

