<h1>Names for <%= @language.english %></h1>

<table>
  <tr>
    <th>Script</th>
    <th>Latin</th>
    <th>Normalized</th>
  </tr>

<% for name in @names %>
  <tr>
    <td><%=h name.script %></td>
    <td><%=h name.latin %></td>
    <td><%=h name.normalized %></td>
    <td><%= link_to   'Show',
	    language_name_path(@language,
	    name)
	    %></td>
    <td><%= link_to 'Edit', edit_language_name_path(@language, name)%></td>
    <td><%= link_to 'Destroy',
	    language_name_path(@language, name),
	    :confirm => 'Are you sure?', :method =>
      :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New name', new_language_name_path(@language) %>
<%= link_to 'Back to Language', @language %> 
