<h1>Name in <%=h @language.english %> </h1>

<p>
 <b>Script:</b>
 <%=h @name.script %>
</p>

<p>
 <b>Latin:</b>
 <%=h @name.latin %>
</p>

<p>
 <b>Normalized:</b>
 <%=h @name.normalized %>
</p>

<p>
 <b>Language:</b>
 <%=h @language.english %>
</p>


<%= link_to 'Edit', edit_language_name_path(@language, @name) %> |
<%= link_to 'Back', language_names_path(@language) %>
