<h1>Cross-Cultural Baby Names</h1>

<% form_tag(search_path, :method => "get") do %> 

<%= label_tag(:language_first, "First language:") %> 
<%= collection_select(:language, :first, Language.all, :id, :english) %>

<%= label_tag(:language_second, "Second language:") %> 
<%= collection_select(:language, :second, Language.all, :id, :english) %>

<%= label_tag(:gender_id, "Gender:") %> 
<%= select( :gender, :id, { "Boy" => "M", "Girl" => "F"}) %>

<%= submit_tag("Search") %> 

<% end %> 
